#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#
#
#
menuconfig VIRT
	bool "Virtualization"
	default n
	---help---
		Drivers for virtualized and emulated devices

if VIRT

config VIRT_QEMU_PCI_TEST
	bool "Driver for QEMU PCI test device"
	default n
	select PCI
	---help---
		Driver for QEMU PCI test device

config VIRT_QEMU_EDU
	bool "Driver for QEMU EDU test device"
	default n
	select PCI
	---help---
		Driver for QEMU EDU test device

config VIRT_IVSHMEM
	bool "IVSHMEM (v1)"
	default n
	select PCI
	---help---
		Driver for IVSHMEM PCI device

if VIRT_IVSHMEM

config VIRT_IVSHMEM_DOORBELL
	bool "IVSHMEM Doorbell support (interrupts)"
	default n

config VIRT_IVSHMEM_DOORBEL_VECTORS
	int "IVSHMEM Doorbell vectors supported"
	default 1
	depends on VIRT_IVSHMEM_DOORBEL

endif # VIRT_IVSHMEM

endif # VIRT
